.header {
  overflow: hidden;
  height: 60px;
  max-width: 0 auto;
  margin: 0 auto;
  background: #392325;
}

.trac {
  overflow: hidden;
  height: 300px;
  background: #dd1b24;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.solution {
  overflow: hidden;
  height: 400px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  text-align: center;
}

.blog {
  overflow: hidden;
  height: 400px;
  text-align: center;
}

.footer {
  overflow: hidden;
  height: 60px;
  max-width: 0 auto;
  margin: 0 auto;
  background: #392325;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 120px;
  height: 120px;
  background-color: #dd1b24;
  border-radius: 50%;
}

.square {
  width: 120px;
  height: 120px;
  background-color: #dd1b24;
  border-radius: 10%;
}

.photo {
  width: 61px;
  height: 61px;
  border-radius: 10%;
}


.sq {
  display: flex;
  align-items: center;
  justify-content: center;
}

